<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE" th:utext="데모2"></title>
</head>

<body>

<div>
    <header>
        <a th:if="${@rq.logout}" href="/usr/member/login">로그인</a>
        <a th:if="${@rq.login}" href="javascript:;"
           onclick="this.nextElementSibling.submit();">로그아웃</a>
        <form th:if="${@rq.login}"  hidden th:action="|/usr/member/logout|" method="POST"></form>
        <!-- 로그인된 경우에만 보여줄 내용 -->
        <span th:if="${@rq.login}">
            <span th:text="${#authentication.name}"></span>
            <img th:if="${@rq.member.profileImgUrl != ''}" width="50" th:src="${@rq.member.profileImgUrl}" alt="">
        </span>
        <!-- 그 외 로그인 된 사용자에게 보여줄 내용 -->
    </header>

    <hr>

    <main layout:fragment="main"></main>
</div>


</body>
</html>